#define IDI_AICON 0
#define IDR_FTLLSC 10
#define IDR_GFLLSC 11
#define IDR_GLWLSC 12
#define IDR_XMLLSC 13
#define IDR_HFZLSC 14
#define IDR_GLMLSC 15
#define IDR_STBLSC 16
#define IDR_R2DLSC 17
#define IDR_B2DLSC 18
#define IDR_SELFLSC 19

#define IDR_BSVSDR 20
#define IDR_BSFSDR 21
#define IDR_SPVSDR 22
#define IDR_SPFSDR 23
#define IDR_CRVSDR 24
#define IDR_CRFSDR 25
#define IDR_TXVSDR 26
#define IDR_TXFSDR 27

#define TEXTFILE 256

#ifdef RC_INVOKED

IDI_AICON ICON "./res/Chemsim.ico"

IDR_FTLLSC TEXTFILE "./licenses/FTL.txt"
IDR_GFLLSC TEXTFILE "./licenses/GLFW3.txt"
IDR_GLWLSC TEXTFILE "./licenses/GLEW.txt"
IDR_XMLLSC TEXTFILE "./licenses/TINYXML2.txt"
IDR_HFZLSC TEXTFILE "./licenses/HARFBUZZ.txt"
IDR_GLMLSC TEXTFILE "./licenses/GLM.txt"
IDR_STBLSC TEXTFILE "./licenses/STB.txt"
IDR_R2DLSC TEXTFILE "./licenses/RECTPACK2D.txt"
IDR_B2DLSC TEXTFILE "./licenses/BOX2D.txt"
IDR_SELFLSC TEXTFILE "LICENSE.txt"

IDR_BSVSDR TEXTFILE "./bin/data/Shaders/Basic.vert"
IDR_BSFSDR TEXTFILE "./bin/data/Shaders/Basic.frag"
IDR_SPVSDR TEXTFILE "./bin/data/Shaders/Sprite.vert"
IDR_SPFSDR TEXTFILE "./bin/data/Shaders/Sprite.frag"
IDR_CRVSDR TEXTFILE "./bin/data/Shaders/Circle.vert"
IDR_CRFSDR TEXTFILE "./bin/data/Shaders/Circle.frag"
IDR_TXVSDR TEXTFILE "./bin/data/Shaders/Text.vert"
IDR_TXFSDR TEXTFILE "./bin/data/Shaders/Text.frag"


#endif